*,
html,
body {
    box-sizing: border-box;
    background-color: lightblue;
}

.welcome {
    width: 100%;
}

.picture-div {
    width: 50%;
    margin: 0 auto;
    height: 20vh;
}

.header-text-div {
    padding: 1rem;
    text-align: center;
}

.header-text {
    font-weight: bold;
    /* letter-spacing: .1rem; */
    /* font-size: 1.5rem; */
    /* color: white; */
}

.projects{
 background-color: black;
 width: 100%;
 color: white;
}

.project{
width: 100%;
text-align: center;
}

.project-title{

}

.project-link{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.project-link:hover{
    text-decoration: underline;
}